@font-face {
    font-family: 'Minecraft';
    src: url('assets/Minecraft.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Minecraft';
    src: url('assets/Minecraft-Bold.otf') format('opentype');
    font-style: normal;
    font-weight: bold;
}

body {
    background-color: rgb(16, 16, 16);
    font-family: 'Courier New', Courier, monospace;
    color: rgb(180, 15, 0);
    text-align: center;
}
h1 {
    display: block;
    background-color: rgb(34, 34, 34);
    padding: 0.25rem;
}
h3 {
    display: block;
    background-color:rgb(34, 34, 34);
    padding: 0.15rem;
    color: rgb(218, 16, 16);
}
.about1 {
    font-size: 20;
    font-weight: bold;
}
a {
    color: rgb(255, 0, 0);
    text-decoration: solid;
}
a:hover {
    color: rgb(145, 39, 0);
    text-decoration: solid;
}