body {
    background-color: cadetblue;
    text-align: center;
    font-family: helvetica;
    color: white;
    padding: 0.5rem;
@font-face {
    font-family: Minecraft;
    src: url('https://trunkis.github.io/personal-site/Website/assets/Minecraft.otf');
}
}
h1 {
    display: block;
    background-color: rgba(28, 247, 192, 0.497);
    padding: 0.1rem;
    font-size: 32;
}
.pagebar {
    display: block;
    background-color: rgba(28, 247, 192, 0.497);
    padding: 0.25rem;
    font-weight: bold;
}
.title {
        display: block;
        background-color:rgba(28, 247, 192, 0.497);
        color: #ffffff;
        border-radius: 25%;
        padding: 0.1rem;
 }    
.desc {
    display: block;
    background-color:rgba(28, 247, 192, 0.497);
    padding: 0.9rem;
    color: rgba(255, 255, 255, 0.99);
    font-size: 20;
    font-family: Minecraft;
    font-weight: bold;
}
a {
    color: rgb(0, 93, 222);
    text-decoration: solid;
}
a:hover {
    color: rgb(38, 0, 114);
    text-decoration: solid;
}